.habit-card-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.day-labels p {
    margin:0;
}

.checkmarks-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

