.habit-card-container {
  /* display:block; */

}

.habit-card-wrapper {
  /* display: inline-block; */
  text-align: center;
  /* border: 1px solid lightgray; */
  border-radius: 0.5rem;
  padding: 7px 4px;
  margin: 10px 5px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.6);


}

.habit-card-name {
  display: inline-block;
  margin: 10px 0 30px 0;
  text-align: center;
  /* font-family: "Questrial", sans-serif; */
  font-family: "HKGrotesk-Light", sans-serif;
  /* font-family: "HKGrotesk-Bold", sans-serif; */
  /* font-family: "HKGrotesk-Medium", sans-serif; */
  font-size: 22px;
  /* color: rgb(139, 139, 214); */
  /* color: rgba(106 172 198); */
  color: var(--habit-name);
  overflow: hidden;
  max-width: 280px;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
  transition: all 0.4s;
  transition-timing-function: ease;
}

.habit-card-name:hover {
  /* color: rgb(51, 51, 194); */
  /* color: rgb(179 205 215); */
  color:var(--habit-name-hover);
  /* color:#7389ae; */


}

.day-option {
  width: 80px;
  /* border: 1px solid black; */
}

.day-option:last-child label .day-label-info-container {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.day-option:first-child label .day-label-info-container {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.day-label {
  margin: 0;
  /* border:1px solid lightgray; */
  /* font-family: "HKGrotesk-Light", sans-serif; */
  /* font-family: "Questrial", sans-serif; */
}

.day-label-info-container {
  transition: all 0.25s;
  background-color: var(--date-unchecked);
  /* padding: 5px 0; */
  padding: 5px 2px;
  /* margin: 0 2px 0 2px; */
  /* box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3); */
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
  border-radius: 0.25rem;

}

.day-label-info-container:hover {
  /* position: absolute; */
  /* border: 4px solid lightgray; */
  /* color:red; */
  background-color: var(--date-unchecked-hover);
  cursor: pointer;
}

.day-option {
    border: 1px solid rgba(0, 0, 0, 0);

}

.day-option:focus-within {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 0.25rem;

}


.day-label-info-container p {
  margin: 4px 3px;

}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label input[type="checkbox"]:checked + .day-label-info-container {
    background-color: var(--date-checked);
    /* font-weight: bold; */
  }

  label input[type="checkbox"]:checked + .day-label-info-container:hover {
    background-color: var(--date-checked-hover);
    /* font-weight: bold; */
  }

.day-name {
  font-family: "HKGrotesk-Light", sans-serif;
  /* font-family: "HKGrotesk-Bold", sans-serif; */
  /* font-family: "Questrial", sans-serif; */
  font-size: 12px;
}

.day-number {
  /* font-family: "HKGrotesk-Bold", sans-serif; */
  font-family: "HKGrotesk-Light", sans-serif;

  /* font-weight: bold; */
  font-size: 10px;
}

.checkmarks-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.success-toast-delete {
  background-color: rgb(141, 155, 138);
  /* color: black; */
}


