/* .EditRecipe__outermost-wrapper {
  height: 100%;
}

.EditRecipe__edit-recipe-container {
  padding: 0 10px;
  margin: 0 auto;
  font-size: 18px;
  max-width: 640px;
}

.EditRecipe__heading {
  margin: 0;
  padding: 1rem 0;
  font-weight: 300;
}

.EditRecipe__edit-recipe-container label {
  font-size: 1.2rem;
  margin: 1rem 0 0.3rem 0;
}

.EditRecipe__edit-recipe-container input,
.EditRecipe__edit-recipe-container textarea {
  border: 1px solid #fff;
  border-radius: 0.15rem;
}

#EditRecipe__edit-recipe label,
#EditRecipe__edit-recipe input,
#EditRecipe__edit-recipe textarea {
  display: block;
  width: 100%;
}

#EditRecipe__edit-recipe textarea {
  height: 3rem;
}

.EditRecipe__buttons-wrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.EditRecipe__edit-recipe {
  color: rgba(16, 16, 16, 0.3);
  background: #8b9fa9;
  padding: 0.4375em 1.5em 0.5em;
  border: 1px solid gray;
  border: 0;
  border-radius: 1.5rem;
  font-size: 18px;
  transition-duration: 0.2s;
}

.EditRecipe__buttons-wrapper .allowHover {
  background: #cfd8dc;
  padding: 0.4375em 1.5em 0.5em;
  border: 1px solid gray;
  border: 0;
  border-radius: 1.5rem;
  font-size: 18px;
  transition-duration: 0.2s;
  color: black;
}

.EditRecipe__buttons-wrapper .allowHover:hover {
  cursor: pointer;
  background: #455a64;
  color: #ffffff;
} */