.add-habit-form-container {
  margin: 20px auto;
  width: 97%;
  max-width: 700px;
  border: 1px solid #b6b6b6;
  border-radius: 1.5rem;
  padding: 30px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  background-color: white;
  animation: fadeIn 1s;
}

.add-habit-form-title {
  text-align: center;
  font-weight: 300;
  padding: 0 0 20px 0;
  margin: 0;
  color:#222;
}

.add-habit-form-container label,
.add-habit-form-container input {
  /* display: block; */
}

.add-habit-form-container input {
  width: 100%;
}

.add-habit-label-input-wrapper {
  margin-top: 15px;
  font-size: 1.2rem;
}

.add-habit-label-input-wrapper input {
  border: 1px solid rgb(209, 209, 209);
  height: 30px;
  padding-left: 5px;
  border-radius: 0.3rem;
}
.add-habit-name-wrapper {
  margin-bottom: 5px;
}

.frequency-goal-statement {
  /* display: inline; */
  font-size: 1.2rem;
}

.add-habit-buttons-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.add-habit-buttons-wrapper button {
  background: var(--login-buttons);
  /* font-family: "HKGrotesk-Medium", sans-serif; */
  padding: 0.4375em 1.5em 0.5em;
  border: 1px solid gray;
  border: 0;
  border-radius: 1.5rem;
  font-size: 18px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
}

.add-habit-buttons-wrapper button:hover {
  cursor: pointer;
  background: var(--login-buttons-hover);
  color: #e0e0e0;
}

.add-habit-buttons-wrapper button:disabled {
  background: #cfd1d4;
  color: #858585;
}

.add-habit-buttons-wrapper button:disabled:hover {
  cursor: default;
  background: #cfd1d4;
  color: #858585;
}