.habit-card-list-container {
  margin: 0 auto;
  max-width: 1200px;
  animation: fadeIn 0.3s;

}

/* extra space at the bottom to prevent 
toast notifications from blocking
view of bottom most habit card */
.habit-card-list-bottom-space {
  height: 130px;
  opacity: 0;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
