@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: "HKGrotesk-Light";
  src: local("HKGrotesk-Light"),
    url(./fonts/HKGrotesk-Light.otf) format("opentype");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: local("HKGrotesk-Bold"),
    url(./fonts/HKGrotesk-Bold.otf) format("opentype");
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: local("HKGrotesk-Medium"),
    url(./fonts/HKGrotesk-Medium.otf) format("opentype");
}

* {
  box-sizing: border-box;
  list-style: none;
}

html,
body,
#root,
.App,
main {
  height: 100%;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #fff;
  /* --date-unchecked: rgb(247, 247, 247);
  --date-unchecked-hover: rgba(39, 184, 99, 0.13);
  --date-checked: rgba(39, 184, 99, 0.301);
  --date-checked-hover: rgba(39, 184, 99, 0.349); */
  --date-unchecked: rgb(247, 247, 247);
  --date-unchecked-hover: #ffceb8;
  --date-checked: #fda57d;
  --date-checked-hover: #ff9464;
  --habit-name: #416788;
  --habit-name-hover: #96a5bf;
  --link: #416788;
  --link-hover: #96a5bf;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  /* background-color: #f1f7f3; */

  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(130, 181, 194, 1) 100%
  ); */
  /* font-family: 'Atlas Grotesk', sans-serif; */
  /* font-family: "Questrial", sans-serif; */
  font-family: "HKGrotesk-Light", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
